# directories
data/
checkpoints/
dataset/
checkpoints/
outputs/
experiments/
poster/
jobs/
output/

# cache
__pycache__/
.DS_Store
*.DS_Store
_DS_Store
.vscode/

# editable package
diffalign.egg-info/

# latex
*.log
*.aux
*.gz

